/* 
   daverzone.com Style Sheet
   Filename: styles.css

   Author:  David Rhoads 
   Date:     3/24/2018
 */
 /*reset syles*/
html {
   font-size: 16px;
   font-family: "Arial Black", Gadget, sans-serif;
   height: 100%;
}
article, .background body, bodyimage, button, .column1, .column2, figure, footer, header, h1, 
h2, h3, iframe, img, li, .maincontent, nav, p, table, tbody, td, tfoot, th, thead{
	border: 0;
	padding: 0;
	margin: 0;
}	

h1 {
	font-size: 2em;
	color: #344b70;
	padding: 2em;
	text-align: center;
	font-weight: normal;
}
h2 {
	font-size: 1.5em;
	color: #344b70;
	padding: 1.5em;
	text-align: center;
	font-weight: normal;
}
h3{
	font-size: 1.2em;
	color: #344b70;
	padding: 1.2em;
	text-align: center;
	font-weight: normal;
}
body{
	background-color: darkblue;
}
body {
  background-image: url("../images/tech.jpg");
} 

article{
	width: 60%;
	position: sticky;
	border: auto;
	margin: auto;
	text-align: left;
	background-color: #848da1;
	padding: 1em;
}
/*Main content section styles*/
.heading{
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 2.5em;
	font-variant: small-caps;
	color: rgb(45, 44, 66);
}

/*Navigation Styles (from W3Schools)
/* Style the sidebar - fixed full height */
.sidebar {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 16px;
}

/* Style sidebar links */
.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}

/* Style links on mouse-over */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Style the main content */
.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  padding: 0px 10px;
}

/* Add media queries for small screens (when the height of the screen is less than 450px, add a smaller padding and font-size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
/*small screen/tablet styles*/
@media screen and (min-width: 460px), print {
	/*body image styles*/
	.bodyimage{
		display: block;
		margin: 0 auto;
		width: 25%;
		position: left;
		box-shadow: 10px 10px 10px lightgrey;
	}
	.figcaption{
		font-family: Arial, Helvetica, sans-serif;
		font-size: 0.9em;
		text-align: left;
		margin: 0.5em;
	}
	
}
/*standard screen styles*/
@media screen and (min-width: 880px){
	.bodyimage{
		display: block;
		margin: 0 auto;
		width: 50%;
		position: left;
		box-shadow: 10px 10px 10px lightgrey;
	}
	.figcaption{
		font-family: Arial, Helvetica, sans-serif;
		font-size: 0.9em;
		text-align: left;
		margin: 0.5em;
	}
	/*site navigation*/
	nav.sitenavigation{
		text-align:center;
		background-color: grey;
		/*sticky positioning code from W3 Schools*/
		position: -webkit-sticky;/*for Safari*/
		position: sticky;
		top: 0;
	}
	nav.sitenavigation li{
		display: inline-block;
		font-size: 1.5em;
		margin: 0.5em;
		line-height: 1.4;
	}
	nav.sitenavigation a:link {
	   text-decoration: none;
	   color: #d88b50;
	}
	nav.sitenavigation a:visited {
	   color: #744f42;
	}
	nav.sitenavigation a:hover, nav.sitenavigation a:focus {
	   color: yellow;
	}
}
}
/*large screen styles*/
@media screen and (min-width: 1060px){
	.bodyimage{
		display: block;
		margin: 0 auto;
		width: 50%;
		position: center;
		box-shadow: 10px 10px 10px lightgrey;
	}
	}
	.figcaption{
		font-family: Arial, Helvetica, sans-serif;
		font-size: 0.9em;
		text-align: center;
		margin: 0.5em;
	}
/*site navigation*/
	nav.sitenavigation{
		text-align:center;
		background-color: grey;
		/*sticky positioning code from W3 Schools*/
		position: -webkit-sticky;/*for Safari*/
		position: sticky;
		top: 0;
	}
	nav.sitenavigation li{
		display: inline-block;
		font-size: 1.5em;
		margin: 0.5em;
		line-height: 1.4;
	}
	nav.sitenavigation a:link {
	   text-decoration: none;
	   color: #d88b50;
	}
	nav.sitenavigation a:visited {
	   color: #744f42;
	}
	nav.sitenavigation a:hover, nav.sitenavigation a:focus {
	   color: yellow;
	}
}
}
/*maximum width screen*/
@media screen and (min-width: 1400){
		nav.sitenavigation{
		text-align:center;
		background-color: grey;
		/*sticky positioning code from W3 Schools*/
		position: -webkit-sticky;/*for Safari*/
		position: sticky;
		top: 0;
	}
	nav.sitenavigation li{
		display: inline-block;
		font-size: 1.5em;
		margin: 0.5em;
		line-height: 1.4;
	}
	nav.sitenavigation a:link {
	   text-decoration: none;
	   color: #d88b50;
	}
	nav.sitenavigation a:visited {
	   color: #744f42;
	}
	nav.sitenavigation a:hover, nav.sitenavigation a:focus {
	   color: yellow;
	}
	}
/* print styles */
@media print {
   body, h1, article, footer {
      color: rgb(0,0,0);
      background: rgb(255,255,255);
   }
   body {
      max-width: 100%;
   }
   nav {
      display: none;
   }
   section {
      page-break-before: always;
   }
}
@page {
   margin: 0.75in;
}
